<html>
   <head>
     <title>Welcome to Ansible</title>
   </head>
   <body>
     <h1>nginx,configure by ansible</h1>
     <p>If u can see this, Ansible succsessfully installed nginx.</p>
     <p>{{ ansible_managed | default("Managed by Ansible") }}</p>
     <p>Hostname: {{ ansible_hostname }}</p>
     <p>OS: {{ ansible_distribution }}</p>
   </body>
</html>
